/* Carousel container */
#carouselExampleCaptions {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto;
  }
  
  /* Carousel item images */
  .carousel-inner img {
    width: 400px;
    height:  500px;
    
  }
  
  /* Carousel caption */
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
  }
  
  .carousel-caption h5 {
    margin-bottom: 5px;
  }
  
  
  Carousel control buttons
  .carousel-control-prev,
  .carousel-control-next {
    width: auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #d808ab;
    font-weight: bold;
   
  }

  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(224, 208, 208, 0.6);
    color: rgb(10, 10, 10);
    font-weight: bolder;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
  }
  
  .carousel-link:hover .carousel-caption {
    opacity: 1; /* Show caption on hover */
  }
  
  
  
  /* .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.6);
  } */
  