 /* .card_container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  } 
   */
  .card_row {
    display: flex;
    gap: 2px;
  }
  
  .card {
    flex: auto;
    margin: 5px;
  }
  
  .card-img-top {
    max-height: 50%;
    width: 5rem;

  }

  /* .card_container {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;
  } */
  
  .card_wrapper {
    flex: 1;
    margin: 10px;
    max-width: 40px;
  }
  
  .card_title {
    color: #333403;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .card_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

/* Styling for the container of the 'About' section */
div.container {
  max-width: 18rem;
  margin: 0 auto;
  text-align: center; /* Align the heading and content in the center */
}

/* Styling for the 'About' section heading */
div.container h2 {
  font-weight: bold;
}

/* Styling for the flex container */
div.flex-container {
  display: flex;
  align-items: center; /* Vertically center align items */
}

/* Styling for the first flex item (image) */
div.flex-item-1 {
  flex: 1;
}

/* Styling for the second flex item (content) */
div.flex-item-2 {
  flex: 2;
}

/* Styling for the image */
div.flex-item-1 img {
  max-width: 100%; /* Adjust to your desired image size */
}

  
  @media (max-width: 768px) {
    .card_row {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
      max-width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .card_container {
      padding: 1rem;
    }
  }
  