.card_container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .card_row {
    display: flex;
    gap: 10px;
  }
  
  .card {
    flex: auto;
    margin: 5px;
  }
  
  .card-img-top {
    max-height: 100%;
    width: 5rem;

  }

  .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  
  .card_wrapper {
    flex: 1;
    margin: 10px;
    max-width: 40px;
  }
  
  .card_title {
    color: #333403;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .card_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .card_text {
    color: #333403;
  }
  
  /* Assuming you have a class named 'card-image' on the Card.Img component */
.card-image {
    /* Add your image styling here */
    width: 40%; /* Adjust this to your desired width */
    height: 40; /* Maintain the aspect ratio of the image */
    object-fit: left; /* Scale the image while preserving aspect ratio */
    border-radius: 40px; /* Add rounded corners if desired */
  }
  
  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    float: right;
  }
  
  @media (max-width: 768px) {
    .card_row {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
      max-width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .card_container {
      padding: 1rem;
    }
  }
  