/* Ba*se styles */

/* * {
  border-style: solid;
} */
.jumbotron {

  background-color: rgb(218, 214, 214);
  color: #fff;
  border-radius: 30px;
  min-height: 70vh;


 /* Add space between text and image */

}



.profile-image-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 100px;
}


.jumbotron .lead {
  text-align: center;
}

/* Styling for the connect container */
.connect {
  text-align: center;
 
}

/* Styling for the connect button */
.connect-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bb126f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  /* margin-top: 270px;
  margin-left: -970px; */
}

.connect-button a:hover {
  background-color: #333403;
}

.btn-primary {
  background-color: #333403;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #333403;
}

.resume-download-container {
  text-align: center;
  margin-top: 20px;
}

/* Style for the container of social media icons */
.socials {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh; /* Adjust the height of the container as needed */
  padding: 20px; /* Adjust the padding as needed */
}

/* Style for each social media icon */
.social-icons a {
  display: inline-block;
  margin: 1px 12px 900px; /* Added margin-top to move icons down */
  margin-right: 70px; /* Adjust the value to move icons to the left by your desired amount */
  color: #210dd8; /* Change the color as needed */
  font-size: 24px; /* Adjust the font size as needed */
  text-decoration: none;
}

/* Hover effect for social media icons */
.social-icons a:hover {
  color: #007bff; /* Change the hover color as needed */
}

/* Position the social media icons */
.social-icons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.rotate-icon {
  animation: rotate 7s linear infinite; /* Adjust animation duration as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Position the social media icons */

/* Responsive styles */

.border{
  border: #210dd8;
}
