/* Base styles */
.jumbotron {
  margin: 30px;
  background-color: grey;
  color: #fff;
  border-radius: 30px;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.text-container {
  position: absolute;
  right: 150px;
  margin-top: -195px;
}

.profile-image-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 100px;
}

.profile-image {
  width: 300px;
  height: 350px;
  border-radius: 10%;
  margin-top: 55px;
}

.jumbotron .lead {
  text-align: center;
}

/* Styling for the connect container */
.connect {
  text-align: center;
  margin-top: -88px;
  
}

/* Styling for the connect button */
.connect-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bb126f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 270px;
  margin-left: -970px;
}


.connect-button a:hover {
  background-color: #333403;
}

.btn-primary {
  background-color: #333403;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #333403;
}

.resume-download-container {
  text-align: center;
  margin-top: 20px;
}
/* Style for the container of social media icons */
.socials {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh; /* Adjust the height of the container as needed */
  padding: 20px; /* Adjust the padding as needed */
}

/* Style for each social media icon */
.social-icons a {
  display: inline-block;
  margin: 1px 12px 900px; /* Added margin-top to move icons down */
  margin-right: 70px; /* Adjust the value to move icons to the left by your desired amount */
  color: #210dd8; /* Change the color as needed */
  font-size: 24px; /* Adjust the font size as needed */
  text-decoration: none;
  
}


/* Hover effect for social media icons */
.social-icons a:hover {
  color: #007bff; /* Change the hover color as needed */
}

/* Position the social media icons */
.social-icons {
  position: absolute;
  bottom: 0;
  right: 0;
}


.rotate-icon {
  animation: rotate 7s linear infinite; /* Adjust animation duration as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Position the social media icons */

/* Responsive styles */
@media (max-width: 768px) {
  .jumbotron {
    flex-direction: column;
    padding: 20px;
  }

  .text-container {
    position: static;
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
  }

  .profile-image-container {
    position: static;
    margin: 20px auto;
  }

  .profile-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
  }

  .connect {
    margin-top: 30px;
  }
}
