body{
    background-color: rgb(208, 204, 211);
    /* color: aliceblue; */
    font-family: "Raleway", sans-serif;
    padding-top: 60px;
}

.contact_form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: #615e5e;
    border-radius: 0 !important;
    border: 1px solid #fff;
}

.contact_form input.form-control {
    margin-bottom: 2em;
    height: calc(2.5em + .75em + 2px);
}

.btn {
    color: #333403;
    border: 3px solid #bb126f;

} 
.btn:hover  {
    color: #0f0cc2;
} 

a.button-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff; /* Text color */
    background-color: #007bff; /* Button background color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  a.button-link:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  
/* Contact.css */

/* Style for icon elements */
i.fas {
    font-size: 24px; /* Adjust the font size as needed */
    margin-right: 10px; /* Add spacing between icon and text */
  }
  
  /* Style for specific icons */
  i.fas.fa-envelope {
    color: rgb(151, 43, 43); /* Change icon color */
  }
  
  i.fas.fa-phone {
    color: rgb(8, 8, 8); /* Change icon color */
  }
  
  i.fas.fa-map-marker-alt {
    color: rgb(221, 8, 8); /* Change icon color */
  }
  
  /* Style for links */
  a {
    color: blue; /* Change link color */
  }
  
  