/* header.css */

/* Navbar background color */
.bg-body-tertiary {
    background-color: #f8f9fa; /* You can change this color */
  }


  /* Navbar links */
  .nav-link {
    font-size: 0.8rem;
    font-weight: 1000;
    margin-left: 0px;
    padding: 10px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    
  }
  
  .nav-link:hover {
    color: #007bff; /* You can change this color */
  }
  
  /* Navbar dropdown */
  .navbar-nav .nav-item .dropdown-menu {
    background-color: #f8f9fa; /* You can change this color */
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-nav .nav-item .dropdown-item {
    color: #333; /* You can change this color */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar-nav .nav-item .dropdown-item:hover {
    background-color: #007bff; /* You can change this color */
    color: #fff; /* You can change this color */
  }
 
/* Apply the pop and color change effects to the nav links on hover */
.navbar-nav .nav-link {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Add transitions for both transform and color */
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1); /* Scale up the element by 10% on hover */
}


.Navbar a:hover {
  transform: scale(1.1);
}


  
  /* Responsive styles */
  @media (max-width: 991px) {
    .navbar-nav {
      text-align: center;
    }
  
    .nav-link {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
